TZ=America/Sao_Paulo
PUID=501
PGID=20

APPDATA_ROOT=/Users/konan/srv/appdata
MEDIA_ROOT=/Volumes/MEDIA/media
BACKUP_ROOT=/Volumes/MEDIA/backups/appdata
KYOO_CACHE_ROOT=/Users/konan/srv/cache/kyoo

SERVER_IP=192.168.1.20

DASH_HOST=dash.lan
PORTAINER_HOST=portainer.lan
KYOO_HOST=kyoo.lan
QBIT_HOST=qbit.lan
SONARR_HOST=sonarr.lan
RADARR_HOST=radarr.lan
BAZARR_HOST=bazarr.lan
PROWLARR_HOST=prowlarr.lan
GLANCES_HOST=glances.lan

QBIT_WEBUI_PORT=8080
QBIT_TORRENT_TCP_PORT=6881
QBIT_TORRENT_UDP_PORT=6881

SONARR_PORT=8989
RADARR_PORT=7878
BAZARR_PORT=6767
PROWLARR_PORT=9696
HOMEPAGE_PORT=3000
PORTAINER_PORT=9000
GLANCES_PORT=61208

KYOO_PUBLIC_URL=http://kyoo.lan
LIBRARY_LANGUAGES=en
LIBRARY_IGNORE_PATTERN=.*/[dD]ownloads?/.*
REQUIRE_ACCOUNT_VERIFICATION=false
DEFAULT_PERMISSIONS=overall.read,overall.play
COMPOSE_PROFILES=cpu
GOCODER_PRESET=fast

KYOO_APIKEYS=change_me_with_random_value
THEMOVIEDB_APIKEY=
TVDB_APIKEY=
TVDB_PIN=

POSTGRES_USER=KyooUser
POSTGRES_PASSWORD=KyooPasswordChangeMe
POSTGRES_DB=kyooDB
POSTGRES_SERVER=kyoo-postgres
POSTGRES_PORT=5432
RUN_MIGRATIONS=true
MEILI_HOST=http://kyoo-meilisearch:7700
MEILI_MASTER_KEY=change_me_too
RABBITMQ_HOST=kyoo-rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=kyoo
RABBITMQ_DEFAULT_PASS=kyoo_rabbitmq_password

QBIT_USERNAME=admin
QBIT_PASSWORD=change_me
